<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="https://anshkaushal.codes/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmy-img-modified.aa6fc530.png&w=1920&q=75" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>