@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Inter&family=Kalam:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Mono", monospace;
}

body {
  font-size: 1.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  padding: 20px;
  text-align: center;
}